# Protect Ketal configuration during upstream merges
ketal_config.yml merge=ours
app.yml merge=ours
project.yml merge=union
vars.yml merge=ours
AppIcons_ketal/** merge=ours
fastlane/** merge=ours
.github/workflows/** merge=ours

# Protect Ketal customizations
ketal/Sources/Screens/Authentication/OIDC* merge=ours
ketal/Sources/Application/Settings/AppSettings.swift merge=union
*/SupportingFiles/target.yml merge=ours
*/SupportingFiles/*.xctestplan merge=ours
