<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:ketals.online</string>
		<string>applinks:app.ketals.online</string>
		<string>applinks:staging.ketals.online</string>
		<string>applinks:develop.ketals.online</string>
		<string>applinks:mobile.ketals.online</string>
		<string>applinks:call.ketals.online</string>
		<string>applinks:call.ketals.dev</string>
		<string>applinks:ketals.online</string>
		<string>webcredentials:*.ketals.online</string>
	</array>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>$(APP_GROUP_IDENTIFIER)</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>$(KEYCHAIN_ACCESS_GROUP_IDENTIFIER)</string>
	</array>
</dict>
</plist>
